<!doctype html>
<html xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro</title>
    <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"
          media="screen,projection"/>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">CRUD</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn" href="/listapessoas">Exibir lista</a></li>
            <li><a class="waves-effect waves-light btn" href="/logout">logout</a></li>


        </ul>
    </div>
</nav>

<div class="container">
    <h3>Cadastro</h3>
    <div class="row">
        <br>
        <div th:each="m : ${msg}">
            <span th:text="${m}"></span>
        </div>
        </br>
        <form class="col s12" name="formcadastro" onsubmit="return validarForm()" action="salvarpessoa" method="post"
              th:object="${pessoaobj}">

            <div class="row">
                <div class="input-field col s1">
                    <label class="active" for="id">ID</label>
                    <input name="id" th:field="*{id}" id="id" readonly="readonly" class="validate">
                </div>
                <div class="input-field col s5">
                    <label class="active" for="nome">Nome</label>
                    <input placeholder="Nome da pessoa" name="nome" th:field="*{nome}" id="nome" class="validate">
                </div>
                <div class="input-field col s6">
                    <label class="active">Sobrenome</label>
                    <input placeholder="Sobrenome da pessoa" name="sobrenome" th:field="*{sobrenome}" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s2" sec:authorize="hasRole('ROLE_ADMIN')">
                    <label class="active">Idade</label>
                    <input name="idade" th:field="*{idade}" class="validate">
                </div>
                <div class="input-field col s4" sec:authorize="hasRole('ROLE_ADMIN')">
                    <label for="sexopessoa" class="active">Sexo</label>
                    <select class="browser-default" th:field="*{sexopessoa}" id="sexopessoa">
                        <option value="" disabled selected>[Selecione]</option>
                        <option value="MASCULINO" th:text="Masculino"/>
                        <option value="FEMININO" th:text="Feminino"/>
                    </select>
                </div>
                <div class="input-field col s6" sec:authorize="hasRole('ROLE_ADMIN')">
                    <label for="profissao" class="active">Profissãoo</label>
                    <select class="browser-default" th:field="*{profissao}" id="profissao">
                        <option th:each="p : ${profissoes}" th:value="${p.id}" th:text="${p.nomeProfissao}"/>
                    </select>
                </div>

            </div>
            <div class="row">
                <div class="input-field col s2" sec:authorize="hasRole('ROLE_ADMIN')">
                    <label class="active">Cep</label>
                    <input name="cep" th:field="*{cep}" class="validate">
                </div>
                <div class="input-field col s6" sec:authorize="hasRole('ROLE_ADMIN')">
                    <label class="active">Rua</label>
                    <input name="rua" th:field="*{rua}" class="validate">
                </div>
                <div class="input-field col s4" sec:authorize="hasRole('ROLE_ADMIN')">
                    <label class="active">Bairro</label>
                    <input name="bairro" th:field="*{bairro}" class="validate">
                </div>
                <div class="input-field col s7" sec:authorize="hasRole('ROLE_ADMIN')">
                    <label class="active">Cidade</label>
                    <input name="cidade" th:field="*{cidade}" class="validate">
                </div>
                <div class="input-field col s2" sec:authorize="hasRole('ROLE_ADMIN')">
                    <label class="active">UF</label>
                    <input name="uf" th:field="*{uf}" class="validate">
                </div>
                <div class="input-field col s3" sec:authorize="hasRole('ROLE_ADMIN')">
                    <label class="active">IBGE</label>
                    <input name="ibge" th:field="*{ibge}" class="validate">
                </div>

            </div>
            <div class="input-field col s6">
                <button class="btn waves-effect waves-dark" type="submit" name="action">Salvar</button>
            </div>
        </form>
    </div>
    <script>
        function validarForm(){
            var nomePessoa = document.forms["formcadastro"]["nome"].value;
            var sobrenomePessoa = document.forms["formcadastro"]["sobrenome"].value;
            var idade = document.forms["formcadastro"]["idade"].value;
            if (nomePessoa == ""|| sobrenomePessoa == "" || idade < 17) {
                alert("Favor informar o seu nome!");
                return false;
            }else{
                alert(nomePessoa + " cadastrado(a) com sucesso!");
                return true;
            }
        }


















    </script>

    <!-- Adicionando Javascript -->
    <script>

        $(document).ready(function() {

            function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#rua").val("");
                $("#bairro").val("");
                $("#cidade").val("");
                $("#uf").val("");
                $("#ibge").val("");
            }

            //Quando o campo cep perde o foco.
            $("#cep").blur(function() {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if(validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#rua").val("...");
                        $("#bairro").val("...");
                        $("#cidade").val("...");
                        $("#uf").val("...");
                        $("#ibge").val("...");

                        //Consulta o webservice viacep.com.br/
                        $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#rua").val(dados.logradouro);
                                $("#bairro").val(dados.bairro);
                                $("#cidade").val(dados.localidade);
                                $("#uf").val(dados.uf);
                                $("#ibge").val(dados.ibge);
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        });
































    </script>
    <script type="text/javascript" src="/static/materialize/js/materialize.js"></script>
    <script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
</div>
</body>
</html>