<!doctype html>
<html xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dados</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"
          media="screen,projection"/>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">CRUD</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn" href="/cadastropessoa">Cadastrar</a></li>
            <li><a class="waves-effect waves-light btn" href="/listapessoas">Exibir lista</a></li>

        </ul>
    </div>
</nav>
<div class="container">


    <h5>Dados</h5>
    <table class="striped">
        <div th:each="pessoa : ${pessoaobj}">
            <div class="row">
                <p>ID: <span th:text="${pessoa.id}"></span></p>
            </div>
            <div class="row">
                <p>Nome: <span th:text="${pessoa.nome}"></span></p>
            </div>
            <div class="row">
                <p>Sobrenome: <span th:text="${pessoa.sobrenome}"></span></p>
            </div>
            <div class="row">
                <p>Idade: <span th:text="${pessoa.idade}"></span></p>
            </div>

        </div>
    </table>
    <h5>Contatos</h5>
    <div class="row">
        <br>
        <div th:each="m : ${msg}">
            <span th:text="${m}"></span>
        </div>
        </br>
        <form th:action="@{/addfonePessoa/{pessoaid}(pessoaid=${pessoaobj.id})}" method="post" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <label class="active" for="telefone">Telefone:</label>
                    <input id="telefone" name="telefone" class="validate">
                </div>
                <div class="input-field col s6">
                    <label class="active" for="email">Email:</label>
                    <input id="email" name="email" class="validate">
                </div>
                <div class="input-field col s6">
                    <button class="btn waves-effect waves-dark" type="submit" name="action">Salvar</button>
                </div>
            </div>
        </form>
    </div>

    <table class="striped">
        <tr th:each="dado : ${dados}">
            <td th:text="${dado.telefone}"/>
            <td th:text="${dado.email}"/>
            <td><a th:href="@{/excluirtelefone/{idfone}(idfone=${dado.id})}">Excluir</a></td>

        </tr>
    </table>


    <script type="text/javascript" src="/static/materialize/js/materialize.js"></script>
    <script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
</div>
</body>
</html>