<!doctype html>
<html xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"
          media="screen,projection"/>
    <style type="text/css">
        table td, table th {
            border: 1px solid grey;
        }



























    </style>

</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">CRUD</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a sec:authorize="hasRole('ROLE_ADMIN')" class="waves-effect waves-light btn" href="/cadastropessoa">Cadastrar</a>
            </li>
            <li><a class="waves-effect waves-light btn" href="/logout">logout</a></li>


        </ul>
    </div>
</nav>
<div class="container">

    <h5>Pesquisa</h5>
    <div class="row">
        <form class="col s12" action="pesquisarpessoa" method="post" id="pesquisarpessoa">
            <div class="input-field col s8">
                <label class="active">Pesquisa por nome:</label>
                <input name="nomepesquisa" id="nomepesquisa" class="validate" th:value="${nomepesquisa}">
            </div>
            <div class="input-field col s4">
                <label for="pesquisasexo" class="active">Pesquisa por sexo</label>
                <select class="browser-default" name="pesquisasexo" id="pesquisasexo">
                    <option value="">[Todos]</option>
                    <option value="MASCULINO" th:text="Masculino"/>
                    <option value="FEMININO" th:text="Feminino"/>
                </select>
            </div>
            <div class="input-field col s12">

                <button class="btn waves-effect waves-dark" type="submit" name="action">Buscar</button>
                <button class="btn waves-effect waves-dark" type="submit" name="action" value="PDF"
                        onclick="document.getElementById('pesquisarpessoa').method = 'get'">PDF
                </button>

            </div>
        </form>
    </div>

    <h5>Lista</h5>
    <table class="striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Curriculo</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
        </thead>
        <tr th:each="pessoa : ${pessoas.content}">
            <td th:text="${pessoa.id}"></td>
            <td><a methods="post" th:href="@{/dadospessoa/{idpessoa}(idpessoa=${pessoa.id})}"><span
                    th:text="${pessoa.nome}"></span></a></td>
            <td th:text="${pessoa.sobrenome}"></td>
            <td><a th:if="${pessoa.curriculo != null}" th:href="@{/baixarcurriculo/{idpessoa}(idpessoa=${pessoa.id})}">Download</a>
                <a th:if="${pessoa.curriculo == null}" style="color: red">Download</a>
            </td>
            <td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a></td>
            <td><a th:href="@{/excluirpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Excluir</a></td>

        </tr>
    </table>
    <div class="row" style="margin-top: 30px;">
        <center>
            <ul class="pagination">


                <th:block th:each="i: ${#numbers.sequence(0, pessoas.totalPages - 1)}">

                    <li class="waves-effect"><a
                            th:href="@{/pessoaspag(page=${i}, size=${pessoas.size}, nomepesquisa=${nomepesquisa})}">[[
                        ${i}+1
                        ]]</a></li>
                </th:block>
            </ul>
        </center>

    </div>

    <script type="text/javascript" src="/static/materialize/js/materialize.js"></script>
    <script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
</div>
</body>
</html>